* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.display-container {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  /* border: purple 2px solid; */
}

.country-card {
  justify-content: center;
  align-content: center;
  /* border: red solid 2px; */
  width: 400px;
  height: 600px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -3px -3px 10px rgba(0, 0, 0, 0.2);
}

.flag img {
  width: 100%;
  height: 100%;
}

.country-info {
  padding: 10px;
  font-size: 12px;
}

.btn-search {
  cursor: pointer;
  display: block;
  margin-left: 30px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: #282437;
  color: white;
}

.input-search {
  border: #282437 5px solid;
  outline: none;
}

.search-box {
  display: flex;
  padding: 30px;
  width: 100%;
  height: 100%;

  /* border: green 2px solid; */
  justify-content: center;
}

.footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.hidden {
  display: none;
}

/* -----------bigger card--------- */

.more-country-info {
  position: relative;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* border: salmon 2px solid; */
}

.big-country-card {
  margin: auto;
  width: 40%;
  background: white;
  border-radius: 20px;
  /* border: orange 2px solid; */
}
